:root {
  --font-family: "Roboto", sans-serif;
  --second-family: "Exo 2", sans-serif;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.btn-scs {
  background: #2cb708;
  font-size: 18px;
  border-radius: 10px;
}
h4 {
  margin-bottom: 20px;
}
p {
  margin-top: 30px;
}