:root {
  --font-family: "Roboto", sans-serif;
  --second-family: "Exo 2", sans-serif;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  max-width: 1200px !important;
  margin: 0 auto;
}
body {
  font-family: "Roboto", sans-serif !important;
}
.cardC .card {
  box-shadow: 4px 2px 4px 0 rgba(0, 0, 0, 0.1);
  background: #fcfffc;
}
.row2 img {
  width: 105px;
  margin-right: 10px;
}
.row1 img {
  width: 250px;
}
.like {
  top: 10px;
  right: 10px;
}
.btn-scs {
  background: #2cb708;
  font-size: 18px;
  border-radius: 10px;
}
.gadget .card{
  width: 230px;
  height: 400px;
}
/* Maximal 50 qator code yozish mumkin undan ko'payib ketsa vazifa qaytariladi */
