.tutun {
  position: absolute;
  width: 8px;
  height: 8px;
  background: #00d162;
  border-radius: 100%;
  pointer-events: none;
  filter: blur(10px);
  opacity: 0.9;
  transition: transform 0.3s, opacity 0.5s;
  z-index: 100;
}
#backToTopBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 99;
  background-color: #00d162;
  color: white;
  width: 40px;
  height: 40px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}


